<p mat-dialog-title>Editando producto {{data.n_orden}}</p>

<div mat-dialog-content>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="data.codigo">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="data.precio" type="number" step="5">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>¿Tiene descuento?</mat-label>
    <input matInput [(ngModel)]="data.descuento">
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex">
  <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button>
</div>

<style>
  .mat-mdc-dialog-content {
    padding-top: 1rem;
    display: grid;
  }

  .flex {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem 2rem;
  }

  .flex>* {
    flex: 1;
    color: rgb(30, 29, 29) !important;
    background: var(--color);
    transition: .2s all ease;
  }

  .flex>*:hover {
    outline: .2rem solid var(--color);
  }

  button:first-of-type {
    --color: lightcoral;
  }

  button:nth-of-type(2) {
    --color: rgb(136, 190, 244);
  }

  p {
    text-align: center;
  }
</style>